@import './elements/fonts';

* {
  font-family: 'Nunito Sans', sans-serif !important;
  -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
     box-sizing: border-box; 

}

a {
  text-decoration: none;
}

body {
  padding: 0px;
  margin: 0px;
}

.text {
  &--normal {
    font-weight: 300;
  }

  &--ext-bold {
    font-weight: 900;
  }

  &--algn-left{
    text-align: left;
  }

  &--algn-right{
    text-align: right;
  }
}

.home {
  &__wrapper {
    margin: 26px 90px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
  }
}

.card {
  &__wrapper {
    min-width: 537px;
    max-width: 537px;
    padding: 17px;
    background-color: #216EFB;
    filter: drop-shadow(0px 9px 9px rgba(25, 81, 185, 0.36));
    grid-row: 1;
    border-radius: 6px;
    color: #FFFFFF;
    -webkit-box-sizing: border-box;
    /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;
    /* Firefox, other Gecko */
    box-sizing: border-box;
    /* Opera/IE 8+ */
    margin-bottom: 34px;

    &:first-child {
      margin-right: 25px;
      grid-column: 1/span 6;
    }

    &-right{
      grid-column: 7/ span 6;
    }
  }

  &__header {
    border-bottom: #1F5ED1 1px solid;
    display: flex;
    align-items: center;
    margin-bottom: 23.5px;
  }

  &__header-currency {
    display: flex;
    align-items: center;
    font-size: 23px;
    line-height: 46px;

    img {
      margin-right: 5px;
    }
}

  &__content {
    display: grid;
  }

  &__annualized {
    grid-row: 1;
    margin-right: 123px;
    margin-bottom: 27.5px;
  }

  &__duration {
    grid-row: 1;
    grid-column: 2/ span 2;
  }

  &__cap {
    grid-column: 1;

    p {
      margin: 0px;
      line-height: 18px;
    }
  }
}


.content {
  &__title {
    font-size: 14px;
    line-height: 31px;
  }

  &__info {
    font-size: 29px;
    line-height: 31px;
  }
}

.status{
  &__time{
    border-radius: 3px;
    background-color: #1F5ED1;
    margin-left: auto;

    &--primary{
      height: 21.9px;
      width: 145px;
      padding: 2px 6px;

      span {
        font-size: 13px;
        line-height: 18px;
        color: #FFFFFF;
      }
    }

    &--secondary{
      height: 26px;
      width: 139px;
      text-align: center;
      display: flex;
    justify-content: center;
    align-items: center;

      span {
        font-size: 12px;
        line-height: 16px;
        color: #FFFFFF;
      }
    }
  }


}

.progress-bar{
  &__wrapper{
      border-radius: 30px;
      background-color: #1F5ED1;
      margin-top: 9px;
      &--gray{
        background: #F2F2F2;
      }
  }

  &__bar{
    height: 9px;
    border-radius: 30px;
    transition: 0.4s linear;
    background-color: #FFB909;
    width: 50%;

    &--small{
      height: 5px;
    }
  }

  &--moved{
    background-color: #FFB909;
    animation: progress 5s infinite;

  }
}

.btn {
  &__submit {
    
    background: #FFB909;
    
    margin-left: auto;
    text-align: center;
    vertical-align: middle;
    border: none;
    

    &--big{
      max-width: 147px;
      height: 49px;
      border-radius: 9px;
      padding: 0px 36px 0px 32px;
      margin-top: 4.5px;
      grid-column: 3;

      span {
        font-size: 17px;
        font-weight: 700;
        line-height: 30px;
        font-style: normal;
        text-align: left;
        color: #ffffff;
      }
    }

    

    &--small{
      padding: 0px 13px;
      max-width: 70px;
      height: 22px;
      background: #FFB909;
      border-radius: 3px;
      text-align: center;
      vertical-align: middle;
      border: none;
      font-size: 10px;
        font-weight: 300;
        line-height: 14px;
        font-style: normal;
        text-align: left;
        color: #ffffff;

      // span {
      //   font-size: 10px;
      //   font-weight: 300;
      //   line-height: 14px;
      //   font-style: normal;
      //   text-align: left;
      //   color: #ffffff;
      // }
    }
  }
}

.annualized {
  &__wrapper {
    grid-column: 1/ span 12;
    max-width: 1099px;
  }

  &__table {
    width: 100%;
    border-radius: 6px;
    border-spacing: 0;
    border-collapse: collapse;
    -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 15%);
    -moz-box-shadow:    0px 3px 6px rgba(0, 0, 0, 15%);
    box-shadow:         0px 3px 6px rgba(0, 0, 0, 15%);
    
    th,td{
      padding: 20.7px 19.7px;
    }

    th{
      border-style: hidden;
      color: #FFFFFF;
      font-size: 14px;
      line-height: 19px;
      font-weight: 700;
    }

    th:first-of-type {
      border-top-left-radius: 6px;
    }
    th:last-of-type {
      border-top-right-radius: 6px;
    }
    tr:last-of-type td:first-of-type {
      border-bottom-left-radius: 6px;
    }
    tr:last-of-type td:last-of-type {
      border-bottom-right-radius: 6px;
    }



    &-row{
      font-size: 12px;
      line-height: 16px;
      // border-bottom: thin solid #D5D5D5;
      position: relative;
      width: 100%;
      display: table-row;


      &::after{
        left: 15px;
        width: calc(100% - 30px);
        margin: 0 auto;
        position: absolute;
        bottom: 0;
        height: 1px;
        content: '';
        background-color: #D5D5D5;
      }

      td{
        padding: 20.7px 19.7px;
      }

      &:last-of-type{
        &::after{
          left: 15px;
        width: calc(100% - 30px);
        margin: 0 auto;
        position: absolute;
        bottom: 0;
        height: 1px;
        content: '';
        background: none;
        }
      }
    }
    
  }

  &__table-head{
    background: #216EFB;
  } 

  &__coin-symbol{
    height: 15px;
    width: 15px;
    margin-right: 5.4px;
    display: inline-block;
    vertical-align: top;
  }
}

.dropdown{
  &--small{
    //width: 54px;
    height: 39px;
    padding: 9px 11px 12px 13px;
    background:#F2F2F2;
    border: thin solid #D5D5D5;
    border-radius: 6px;
    margin-bottom: 11px;
    float: right;
    display: inline-block;
    vertical-align: top;
    font-size: 14px;
    line-height: 18px;
  }
}
.icon{
  &__triangle-down{
    width: 5px;
    height: 4px;

    &--dropdown{
      margin-top: 7px;
    margin-bottom: 2px;
    margin-left: 5px;
    }
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  
  
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}